.cont {background-color: lightgrey;
  width: auto;
  border: 8px solid green;
  padding: 2px;
  margin: 2px;}

.htfrmtop {padding-top: 70px}

.cont2 {
    padding-top: 70px;
    display: flex;
    justify-content:space-between;
  }

.ek {
  display: flex;
  justify-content: flex-start;
}

.do {
  padding-left: 20px
}

.teen {
  display: flex;
  justify-content: flex-end;
}

.centre {
  display: flex;
  justify-content:center;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor:grabbing;
}

.header {
   font-weight: bold;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}
.item {
  padding: 15px 0px !important;
}
.center {
  justify-content: center;
  padding: 10px;
}
